<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
    <th mat-header-cell *matHeaderCellDef>{{ col.title | titlecase }}</th>
    <td mat-cell *matCellDef="let item">{{ renderItem(item, col) }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="getColumnKeys(columns)"></tr>
  <tr mat-row *matRowDef="let row; columns: getColumnKeys(columns)"></tr>
</table>
<mat-paginator
  [length]="60"
  [pageSizeOptions]="pageSizes"
  [showFirstLastButtons]
>
</mat-paginator>
