.mat-list {
  user-select: none;
}

.mat-badge.mat-badge {
    top: 9px;
}

.item-name {
  padding-left: 30px;
}

.form-full-width {
  width: 100%;
}

.simplelist-viewport {
  top: -0.5em;
  height: 80vh;
  width: 100%;
  border: 0px solid lightgray;
}
