<form class="form">
  <mat-form-field class="form-full-width" appearance="fill">
    <mat-label>{{entityName}} keresése</mat-label>
    <input [(ngModel)]="phrase" type="text" name="{{entityName}}" matInput placeholder="pl. Illés" value="" />
  </mat-form-field>
</form>

<mat-list>
  <mat-list-item *ngFor="let item of list | filter: phrase : filterKey | sorter: sorterKey : sorterDirection">
    <h3 matLine>
      <span *ngIf="item.songs" matBadge="{{item.songs.length}}"
      matBadgePosition="after" matBadgeOverlap="false">&nbsp;</span>
      <span *ngIf="item.name" class="item-name">{{ item.name }}</span>
      <span *ngIf="item.title" class="item-name">{{ item.title }}</span>
    </h3>
  </mat-list-item>
</mat-list>
