<div class="main" fxLayout="column" fxFlexFill>
  <mat-toolbar class="app-toolbar mat-elevation-z6" color="primary">
    <mat-toolbar-row fxFlexOffset.gt-md="0%">
      <button
        mat-icon-button
        fxShow="true"
        fxHide.gt-sm
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span
        ><a class="mat-button mat-title home-link" href="" routerLink="/"
          >{{ title }} app</a
        ></span
      >
      <div fxShow="true" fxHide.lt-md="true">
        <span class="spacer"></span>
        <a
          *ngFor="let item of menu"
          [routerLink]="item.link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.link === '/' }"
          mat-button
        >
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
          {{ item.title }}
        </a>
      </div>
      <div fxFlex fxShow="true" fxHide.lt-md="true" fxLayoutAlign="end start">
        <a class="login-link" [routerLink]="login.link" mat-button>
          <span *ngIf="!(user$ | async)">
            {{ login.title }}
            <mat-icon class="login-item" *ngIf="login.icon">
              {{ login.icon }}</mat-icon
            >
          </span>
          <span *ngIf="user$ | async">
            {{ logout.title }}
            <mat-icon class="login-item" *ngIf="logout.icon">
              {{ logout.icon }}</mat-icon
            >
          </span>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" fxLayout="row" fxFlex="100">
    <mat-sidenav #drawer>
      <mat-nav-list>
        <a
          *ngFor="let item of sidebar"
          [routerLink]="item.link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.link === '/' }"
          mat-list-item
        >
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
          {{ item.title }}
        </a>
        <hr mat-list-item />
        <a [routerLink]="login.link" mat-list-item>
          <mat-icon *ngIf="login.icon">{{ login.icon }}</mat-icon>
          {{ login.title }}</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
