
.app-toolbar {
  z-index: 2;
}

.sidenav-container {
  z-index: 1;
}

.home-link {
  margin-top: 0.8em;
}

.mat-sidenav-content {
  padding: 1.5rem;
  box-sizing: border-box;
}

.spacer {
  padding-right: 5em;
}

a[mat-button] {
  color: rgb(200, 200, 200);
  &.active {
    color: white;
  }
}

.lyrics {
  position: absolute;
  top: 0px;
  left: 0px;
}
