
.app-toolbar {
  z-index: 2;
}

.home-link {
  margin-top: 0.8em;
}

.login-link {
  margin-right: 1.5em;
}

.login-item {
  position: relative;
  top: 0.27em;
}

.sidenav-container {
  z-index: 1;
}

.mat-sidenav {
  width: 14em;
}

.mat-sidenav-content {
  padding: 1.5rem;
  box-sizing: border-box;
}

.spacer {
  padding-right: 5em;
}

a[mat-button] {
  color: rgb(200, 200, 200);
  &.active {
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .mat-icon {
    padding: 0.4em;
  }
}

hr {
  color: lightgray;
}

.lyrics {
  position: absolute;
  top: 0px;
  left: 0px;
}
