<div class="login-container" fxLayout fxLayoutAlign="center center">
  <mat-card class="login" fxFlex.gt-sm="20%" fxFlex.lt-sm="80%">
    <mat-card-title>Bejelentkezés</mat-card-title>
    <h4>
      Csak bejelentkezett felhasználóként tudja szerkeszteni az adatbázist.
    </h4>
    <mat-card-content fxLayout="column">
      <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <mat-form-field>
          <input
            placeholder="Felhasználói név"
            matInput
            name="username"
            [(ngModel)]="loginData.username"
            required
            autofocus
          />
        </mat-form-field>
        <mat-form-field>
          <input
            placeholder="Jelszó"
            matInput
            value=""
            name="password"
            type="password"
            [(ngModel)]="loginData.password"
            required
          />
        </mat-form-field>
        <hr style="opacity: 0" />
        <button
          [disabled]="!loginForm.form.valid"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Belépés
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
