.mat-dialog-content {
  max-height: 75vh!important;
}

.edit-form {
  min-width: 160px;
  width: 100%;
}

.full-width {
  width: 100%;
}

textarea {
  height: 12em;
}

button {
  margin-right: 1em;
}
