<div
  class="component-container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutGap.gt-md="100px"
>
  <div
    fxLayout
    fxLayout.xs="column"
    fxFlex.gt-lg="30%"
    fxFlexOffset.gt-md="10%"
    fxLayoutGap.gt-md="30px"
  >
    <app-simplelist
      fxFlex.gt-lg="40%"
      [list]="artists$ | async"
      entityName="Előadó"
      friendlyName="artist"
      example="Illés"
      (updateRequest)="updateSongList($event)"
    ></app-simplelist>
    <app-simplelist
      fxFlex.gt-lg="60%"
      [list]="visibleSongs$ | async"
      entityName="Dal"
      friendlyName="song"
      example="Gyöngyhajú lány"
      filterKey="title"
      sorterKey="title"
      (updateRequest)="updateLyrics($event)"
    ></app-simplelist>
  </div>
  <app-lyrics [song]="currentSong"></app-lyrics>
</div>
