<!-- <mat-list>
  <mat-list-item *ngFor="let message of messages">
    <h3 matLine>
      {{ message.from }}
      <span matBadge="4" matBadgeOverlap="false">&nbsp;</span>
    </h3>
    <p matLine>{{ message.subject }}</p>
    <p matLine class="demo-2" matBadge="4" matBadgeOverlap="false">
      {{ message.content }}
    </p>
  </mat-list-item>
</mat-list> -->

<mat-grid-list cols="8" rowHeight="1:4">
  <mat-grid-tile colspan="1">
    <div class="text-inside-grid">
      <app-simplelist
        *ngIf="artists$ | async as list"
        [list]="list"
        entityName="Előadó"
        example="Illés"
        (updateRequest)="updateSongList($event)"
      ></app-simplelist>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div class="text-inside-grid">
      <app-simplelist
        *ngIf="visibleSongs$ | async as list"
        [list]="list"
        entityName="Dal"
        example="Gyöngyhajú lány"
        sorterKey="title"
        (updateRequest)="updateLyrics($event)"
      ></app-simplelist>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="lyrics-container" colspan="3">
    <div class="lyrics">
      <app-lyrics [song]="currentSong"></app-lyrics>
    </div>
  </mat-grid-tile>
</mat-grid-list>
