<!-- <pre>{{ song | json }}</pre> -->

<div *ngIf="song.title" class="lyrics-header">
  <h3>{{ song.artist.name }}:</h3>
  <h2>{{ song.title }}</h2>
  <h4>
    <em>
      <div *ngIf="song.lyricist.length == 1">
        szöveg:
        <span *ngFor="let lyricist of song.lyricist">
          {{ lyricist.name }},&nbsp;
        </span>
        zene:
        <span *ngFor="let composer of song.composer">
          {{ composer.name }},&nbsp;
        </span>
        <br />
      </div>
      <div *ngIf="song.album">
        <span> album: {{ song.album.name }} ({{ song.year }}) </span>
      </div>
    </em>
  </h4>
</div>
<hr />
<pre>{{ song.lyrics }}</pre>
