<div *ngIf="song.title" class="lyrics-header">
  <h3>{{ song.artist.name }}:</h3>
  <h2>{{ song.title }}</h2>
  <h4>
    <em>
      <span
        *ngIf="
          song.lyricist &&
          (song.lyricist.length > 0 || song.lyricist.length > 0)
        "
      >
        szöveg:
        <span *ngFor="let lyricist of song.lyricist.slice(0, 2)"
          >{{ lyricist.name
          }}<span
            *ngIf="
              lyricist == song.lyricist.slice(0, 2).slice(-1)[0];
              else notLastItem
            "
            >,</span
          >
          <ng-template #notLastItem>&nbsp;-&nbsp;</ng-template>
        </span>
        <span
          *ngIf="
            song.composer &&
            (song.composer.length > 0 || song.composer.length > 0)
          "
        >
          zene:
          <span *ngFor="let composer of song.composer.slice(0, 2)">
            {{ composer.name
            }}<span
              *ngIf="
                composer == song.composer.slice(0, 2).slice(-1)[0];
                else notLastItem
              "
              >,</span
            >
            <ng-template #notLastItem>&nbsp;-&nbsp;</ng-template>
          </span>
        </span>
      </span>
      <div *ngIf="song.album">
        <span>
          album: {{ song.album.name }}
          <span *ngIf="song.year">({{ song.year }})</span>
        </span>
      </div>
    </em>
  </h4>
</div>
<hr />
<pre>{{ song.lyrics }}</pre>
